.status
{
background: #3F7AEC 0% 0% no-repeat padding-box !important;
border-radius: 15px !important;
font: var(--unnamed-font-style-normal) normal bold 18px/14.4px Cairo;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 18px/14px Cairo !important;
letter-spacing: 0px !important;
color: #FFFFFF !important;

}
.order
{
    font: var(--unnamed-font-style-normal) normal bold 40px/36px Cairo;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 40px/36px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.p-datatable .p-datatable-thead > tr > th {
  
    color: #393939 !important;
    background: #EFEFF3 !important;
    font: var(--unnamed-font-style-normal) normal bold 20px/37px Cairo  !important; 
    font: normal normal bold 20px/37px Cairo !important;
    opacity: 1 !important;
    

}
.datatable-responsive-demo .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

@media screen and (max-width: 40em) {
    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-thead > tr > th,
    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tfoot > tr > td {
        display: none !important;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4rem;
        font-weight: bold;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td:last-child {
        border-bottom: 1px solid var(--surface-d);
    }
}