.notfound-container {
    padding: 3rem;
}
.oops-container {
    margin-top: -2rem;
    .oops-text {
        color: #77838F;
        font: Cairo;
        font-size: 14px;
    }
}


.go-to-homepage-btn {
    font-family: Cairo-semibold;
    padding: .8rem;
}