{% extends "mail_templated/base.tpl" %}

{% block subject %}
    [GiftiGlobal] Please reset your password
{% endblock %}


{% block body %}
    <center><h2><b>Hello, {{user.get_full_name }}!</b></h2></center><br>
    <center><p> 
        A request has been received to change the password for the Gifti Global Account.
    </p></center>
        <a href="{{link}}?token={{token}}">RESET MY PASSWORD</a>
    <center>
        <p>
            You are receiving this email as your email address is registered on giftiglobal.com
        </p>
    </center>
{% endblock %}

{% block html %}

{% endblock %}
